
@media (min-width:240px)and( width:720px) {
    body {
        background-color: #d8f8e1;
    }

    } 


body,header,footer,main{
    width:100%;
    background-color: #d8f8e1;
}
    .nav-link{
       color: black;
     background-color: #b0c2f2;

    }
.fonda{
    margin:30%;

    display: block;
}
    .jumbotron{
        width: 500px;

        align-items: center;
    }

    h1 
    {
        font-style: oblique;
        color: black;
        display: inline-block;
    }
    
    .pjum

    {
        font-style: oblique;
        color: black; 
        width: 1000px;
        display: inline-block;
    }

    .caja

    {
    width: 1250px;
    height: 200px;}

button:hover
{
color: white;}
button
{border-radius:10px ;
width: 300px;
}
.cajatext
{
border-radius: 10px;
}
#menu{
    background-color: #aff8d8; ;
}