 header
 
 {
     background-color: black;
     color: rgb(255, 174, 0);
    
     
 }
 header a 
{
color: white;
text-decoration:none;
}
.enlaces ul{
    position: relative;
    right:0;
}

.enlaces {
    padding-left: 100px;
    
  

   
}

.enlaces ul li {
    
    
    font-weight:normal;
    cursor: pointer;
    font-size: 15px;
    display:inline-block;
    font-family: Arial, Helvetica, sans-serif;
 
   
}

.enlaces ul li:hover {
    color: green;
}
@media (max-width: 700px) {
    body {
        background-color: yellow;
    }
    h1 {
        color: black !important;
    }
} 

.py-3 
    {
background-color: black;
    }

    .nav-link{
       color: orange;
     background-color: black;

    }

    .jumbotron{
        width: 300px;
        background-color: orange;
    }

    h1 
    {
        font-style: oblique;
        color: black;
    }
    
    .pjum

    {
        font-style: oblique;
        color: black; 
    }
    .menu

    {background-color: orange;}
    .caja

    {background-color: black;
    width: 1250px;
    height: 100px;}
 .pcaja
 {
     color: orange;
 }
 h2
 {background-color: orange;}
 
 .py-3¨
 {color: orange;}
 .my-0
 {color: orange;}
 .my-1
 {color: orange;}
 
button:hover
{background-color: black;
color: white;}
button
{border-radius:10px ;
width: 300px;
background-color: orange;

}
.cajatext
{
border-radius: 10px;
}