
@media (max-width: 700px) {
    body {
        background-color: yellow;
    }
    h1 {
        color: black ;
        width: 1000px;
    }
} 

.py-3 
    {
background-color: black;
    }

    .nav-link{
       color: orange;
     background-color: black;

    }

    .jumbotron{
        width: 300px;
        background-color: orange;
    }

    h1 
    {
        font-style: oblique;
        color: black;
        display: inline-block;
    }
    
    .pjum

    {
        font-style: oblique;
        color: black; 
        width: 1000px;
        display: inline-block;
    }
    .menu

    {background-color: orange;}
    .caja

    {background-color: black;
    width: 1250px;
    height: 100px;}
 .pcaja
 {
    color: orange;
 }
 h2
 {background-color: orange;}
 
 .py-3¨
 {color: orange;}
 .my-0
 {color: orange;}
 .my-1
 {color: orange;}
 
button:hover
{background-color: black;
color: white;}
button
{border-radius:10px ;
width: 300px;
background-color: orange;

}
.cajatext
{
border-radius: 10px;
}